.brand{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    justify-content: space-evenly;
}
.brand-box img
{
    height: 70px;
    width:50px;
}
.brand-box{
    height: 80px;
    width:100px;
}
@media only screen and (max-width:576px)
{
    .brand{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        justify-content: space-evenly;
    }
}